

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --colorsbuttons: rgba(57, 85, 195, 0.987);
  --colorbody: rgb(97, 125, 134);
  --colortext: #fff;
  --colorborders: rgb(197, 188, 188);
  --colorplaceholders: rgba(10, 10, 10, 0.599);
  /* --messenger-color: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%); */
  /*----- Font and typography */
  --body-font: 'Poppins', sans-serif;
}

/* 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,600&family=Roboto+Mono:ital,wght@1,200&family=Roboto:ital,wght@1,700&display=swap');
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: var(--body-font);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    position: fixed;
    height: 75px;
    width: 100%;
    top: 0;
    transition: 250ms;
    z-index: 2;
    border: 1px solid var(--colorborders);
    
}
header ul li {
    list-style: none;
    margin: 20px 0;
}
header ul li a {
    text-decoration: none;
    padding: 10px 30px;
    margin: 15px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--colorbuttons);
    transition: 250ms;   
}
header ul li a:hover {
    color: var(--colorbuttons);
    font-family: var(--body-font);
}

/*  navigation */
/* .sticky {
    background: var(--colorbuttons);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.123);
    backdrop-filter: blur(20px);
}
.sticky a {
    color: var(--colortext);
}
.sticky li {
  color: var(--colortext);
}
.sticky li a:hover {
    color: red;
}
.sticky .logo {
    color: #000;
} */

.card {
  margin: 15px;
}
.nav-links {
    position: absolute;
    right: 0;
    top: 6vh;
    width: 70%;
    height: 25vh;
    background-color: var(--colorsbuttons);
    color: var(--colortext);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: menu-animation 500ms ease-in-out;
}


/* we will make nav-links appear only if menu is clicked*/
/* Lets make class of show nav-links */

.show-navlinks {
    display: flex;
}
.logo {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--colorsbuttons);
}

.menu-on {
    background: url(/images/icons8-menu.svg);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 250ms ease-in-out;

}
.menu-off {
    padding: 10px;
    background: url(/images/menu-close.svg);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 250ms ease-in-out;
}


@keyframes menu-animation {
    from {
        opacity: 0;
        transform: translateX(100%);
       
    } to {
        opacity: 1;
        transform: translateX(0%);
    }
}
.featured {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: var(--colorsbuttons);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(images/hero_image_-_qr_code.webp); */
    
}
.featured img {
  max-width: 90%;
  height: 45vh;
  margin: 20px;

}
/* 
.featured .images {
  display: flex;
} */


.card {
    padding: 15px;
    width: 95%;
    /* backdrop-filter: blur(20px);
    border-radius: 5px; */
}
.card h2 {
    line-height: 1.2;
    margin-bottom: 10px;
    font-family: var(--body-font);
    font-weight: 900;
}
.card p {
    font-family: var(--body-font);
}
.btn {
    padding: 7px 25px;
    margin-top: 20px;
    background-color: var(--colorsbuttons);
    cursor: pointer;
    color: var(--colortext);
    border-radius: 5px;
    font-family: var(--body-font);
    border: 1px solid var(--colortext);
}
.btn:hover {
    background-color: var(--colortext);
    color: var(--colorbuttons);
    border: 1px solid var(--colorsbuttons);
    transition: .3s;
}



@media screen and (min-width: 724px) {

    h2 {
      padding-top: 80px;
      font-size: 33px;
    }
    
    p {
      font-size: 22px; 
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      position: unset;
      width: auto;
      height: auto;
      background: none;
    }
    ul {
        display: flex;
    }
    header ul li {
        margin: 0;
    }
    header ul li a {
        padding: 0;
        color: #000;
        
    }
    header ul li a:hover {
        color: var(--colorsbuttons);
        letter-spacing: 1px;
        transition: 0.3s;
    }


    .menu-on {
        display: none;
    }
    .logo {
        font-size: 22px;
    }
    .featured {
      align-items: flex-start;
      justify-content: center;
    }
    .featured .btn {
      margin: 25px;
      padding: 10px 18px;
    }
    #lermais {
      margin: 15px 0px;
    }

    .featured img {
      margin: 25px;
 
    }
    .card {
      padding: 25px 0;
      margin: 0;
      margin-left: 2rem;
      background: none;
      width: 50%;
    }
}

